*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.border-FS:hover{
    border: 2px solid white;
}
/* 
FS-Full Software
header/full-block (Area)
Div/sub-div (section)
content in div (portion) */

/* <!-- Header & Navigation Bar AREA --> */
.nav-bar-Area{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.logo-section{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-section img{
    height: 80%;
    width: 80%;
}

.company-name-section{
    display: flex;
    align-items: center;
}

.nav-menu-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.nav-menu-section a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.search-section{
    display: flex;
    align-items: center;
}
.search-section input{
    margin: 3px;
    border: 5px double black;
    height: 30px;
}

/*  <!-- Banner AREA --> */
.banner-Area{
    height: 600px;
    display: block;
}
.banner-Area img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*     <!-- Content 1 AREA --> */
#content-heading{
    text-align: center;
    padding: 50px 0 20px 0;
}

.content-Area{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}
.box-section{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 22%;
    padding: 15px;
    text-align: justify;
    flex-direction: column;
    display: flex;
    align-items: center;
    border: 12px double white;
}
.box-section img{
    height: 50%;
    width: 70%;
    margin: 10px 0px 10px 0px;
}

/* <!-- Footer & Contact and Links Area --> */
.contact-Area{
    background-color: black;
    color: white;
    height: 120px;
}
.contact-Area h4{
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid white;
}
.details-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}